# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env.*          # যদি একাধিক environment থাকে যেমন .env.dev, .env.prod

# Build outputs
dist/
build/

# TypeScript
*.tsbuildinfo

# Docker
docker-compose.override.yml
.dockerignore

# Local development files
*.local
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Cache
.cache
.tmp
config.bat
